@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

// 
// Variables
//

$bg-color: white;

// 
// Template design (start)
//

// Basic styling
body {
    background-color: $bg-color;
}
h1 {
    @apply text-5xl;
    @apply mb-12 mt-4;
}
h2 {
    @apply text-4xl;
    @apply mb-8;
}
h3 {
    @apply text-3xl;
    @apply mb-4;
}
h4 {
    @apply text-2xl;
    @apply mb-2;
}
h5 {
    @apply text-xl;
}
p {
    @apply mb-4;
}

.app {
    @apply flex flex-col;
    @apply h-screen;
}

#navigation {
    @apply bg-slate-800 text-white;
    @apply px-3 sm:px-0;

    &.navigation-sticky {
        @apply sticky top-0;
    }

    .header-container {
        @apply container mx-auto;
        @apply flex justify-between;
    }

    #logo {
        @apply flex items-center;
    }

    #top-nav {
        .nav-list {
            @apply list-none flex;   
        }
        .nav-list-item {
            @apply flex;

            a {
                @apply p-4;
            }
            a:hover,
            a.active {
                @apply bg-slate-700;
            }
        }
    }
}

#hero {
    @apply container mx-auto;
    @apply bg-cyan-900;
    @apply flex items-center justify-center;
    @apply py-20;

    .hero-title {
        @apply text-4xl font-black tracking-widest text-white;
        @apply m-0;
    }

    &.hero-fluid {
        @apply mx-0;
        max-width: unset;
    }
}

#main {
    @apply container mx-auto;
    @apply flex flex-col flex-grow;
    @apply py-4 px-3 sm:px-0;
}

#footer {
    @apply bg-slate-800 text-white;
    @apply px-3 sm:px-0;

    .footer-container {
        @apply container mx-auto;
        @apply flex;
    }

    .footer-section {
        @apply flex flex-grow flex-col;
        @apply py-10;
    }

    .footer-title {
        @apply font-bold text-lg;
        @apply mb-4;
        @apply underline decoration-solid decoration-2 underline-offset-8 decoration-yellow-400;
    }

    #footer-nav {
        .nav-list {
            @apply list-none flex flex-col;   
        }

        .nav-list-item {
            @apply py-1;
        }
    }
}

#copyright {
    @apply py-2;
    @apply bg-gray-900;
    @apply text-gray-500 text-center;

    a {
        @apply text-gray-600 hover:text-gray-400;
    }
}

// 
// Template design (end)
// 