// 
// Variables
//

$bg-color: white;

// 
// Basic styling
//

body {
    margin: 0;
    background-color: $bg-color;
    font-family: Arial, Helvetica, sans-serif;
}

// 
// Template design (start)
//

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #222222;
    color: #ffffff;

    .navbar-nav {
        display: flex;
        padding: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
        list-style: none;
    }

    .nav-item {
        padding: .25rem;
    }

    .nav-link {
        color: #ffffff;
        text-decoration: none;

        &.active {
            text-decoration: underline;
        }
    }
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 1rem;
    background-color: #999999;

    .hero-title {
        margin: 0;
        font-size: 2.25rem;
        font-weight: 900;
        letter-spacing: .1em;
    }
}

#main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: .5rem 1rem;
}

#footer {
    padding: 0 1rem;
    background-color: #222222;
    color: #ffffff;

    .footer-container {
        display: flex;
    }

    .footer-section {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .footer-title {
        font-weight: bold;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-thickness: 2px;
        text-decoration-color: orange;
        text-underline-offset: .5rem;
        margin: 0;
    }

    #footer-nav {
        .nav-list {
            display: flex;
            flex-direction: column;
            padding: 0;
            list-style: none;
        }

        .nav-list-item {
            padding-top: .25rem;
            padding-bottom: .25rem;
            
            a {
                text-decoration: none;
                color: #ffffff;
            }
        }
    }
}

#copyright {
    padding: .5rem 1rem;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
}

// 
// Template design (end)
// 